<section id="clients" class="clients">
	<div class="container" data-aos="zoom-in">
		<div class="row">

			<% clients.forEach((item) => { %>
				<div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
					<img src="<%= item.src%>" class="img-fluid" alt="<%= item.alt %>">
				</div>


			<% }) %>

		</div>
	</div>
</section>