<section id="hero">
	<div class="hero-container" data-aos="fade-up" data-aos-delay="150">
		<h1><%= home.hero.title %></h1>
		<h2><%= home.hero.subTitle %></h2>
		<div class="d-flex">
			<a href="#contact" class="btn-get-started scrollto">Get Started</a>
			<!--
			<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
			-->
		</div>
	</div>
</section>
