<form action="https://localhost:3000/api/newsletter" method="post" role="form" class="php-newsletter-form" >
	<div class="row">
		<input type="email" name="email"><input type="submit" value="<%= common.newsletter.subscribe %>">
	</div>
	<!--
	<div class="my-3">
		<div class="loading">Loading</div>
		<div class="error-message"></div>
		<div class="sent-message">Your newsletter subscription request is sent. Thank you!</div>
	</div> -->
</form>